
<div  class="mat-elevation-z8" class="hello card">
        <h1 mat-dialog-title class="hrTFJ">The Easy Way To Solve it</h1>
        <hr>
        
        <div mat-dialog-content class="hrTFJbutton">
            <i>Il vaut mieux faire l’information que la recevoir 
                Les gagnants seront ceux qui restructurent la manière dont l’information circule dans leur entreprise.
                Il vaut mieux être acteur que critique.
                </i>
        </div>
        <div mat-dialog-content class="hrTFJbutton">
                <button routerLink="/docs" mat-flat-button color="primary">Go to Docs</button>
        </div>
</div>


