.filiales{
   padding: 2%;
   color: aqua;
   text-align: center;
   background-color: rgba(126, 131, 85, 0.3);
}

.filialess{
   width:25%;
}
.filial{
   width:75%;
}

.all{
    display: flex;
    margin: 1% 1%
}
