<div class="containers">
    <div>
        <mat-toolbar class="nav-Menu fixed-header">
            <mat-toolbar-row>
                <span class="nav-Menu-Logo">CentralDOC</span>
                <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
                <a mat-button routerLink="/manage-tfj">Manage TFJ</a>
                <a mat-button routerLink="/docs">Documentation</a>
                <a mat-button routerLink="/about">About</a>
                <span class="filler"></span>
                <a mat-button routerLink="/login">Login</a>            
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <div class="content">
        <main>
            <router-outlet style="margin-top: 80px;"></router-outlet>
        </main>
    </div>
    <div class="footer">
        <mat-toolbar color="primary" class="footer" fxLayoutAlign="center center" fxLayoutGap="10">
            <p><i>Made with </i>
                <mat-icon color='warn'>favorite</mat-icon>
                <i>INDUS-TEAM @ INDUS TEAM -- <a style="color:lightgray" href="https://github.com/ayoublotfi/CentralDOC">Github</a> </i>
            </p>
        </mat-toolbar>
    </div> 
</div>
    
     
    